/*! destyle.css v4.0.0 | MIT ライセンス | https://github.com/nicolas-cusan/destyle.css */

/* ボックスモデルをリセットし、ボーダーを設定します */
/* ========================================== */

* ,
::前に、
:: {の後
  box-sizing :ボーダーボックス;
  境界線のスタイル:ソリッド;
  ボーダー幅:  0 ;
}

/* 書類 */
/* ========================================== */

/**
* 1. すべてのブラウザで行の高さを修正します。
* 2. iOS での向き変更後のフォント サイズの調整を防止します。
* 3. iOS のリンクの灰色のオーバーレイを削除します。
*/

html {
  行の高さ:  1.15 ; /* 1 */
  -webkit-text-size-adjust :  100 % ; /* 2 */
  -webkit-tap-highlight-color :透明; /* 3*/
}

/* セクション */
/* ========================================== */

/**
* すべてのブラウザでマージンを削除します。
*/

本体{
  マージン:  0 ;
}

/**
* IE で「main」要素を一貫してレンダリングします。
*/

メイン{
  表示:ブロック;
}

/* 垂直リズム */
/* ========================================== */

p 、
テーブル,
ブロッククオート,
住所,
前、
iframe 、
フォーム,
図、
dl {
  マージン:  0 ;
}

/* 見出し */
/* ========================================== */

h1 、
h2 、
h3 、
h4 、
h5 、
h6 {
  font-size :継承;
  font-weight :継承;
  マージン:  0 ;
}

/* リスト (列挙) */
/* ========================================== */

ウル、
オール{
  マージン:  0 ;
  パディング:  0 ;
  リストスタイル:なし;
}

/* リスト (定義) */
/* ========================================== */

dt {
  font-weight :太字;
}

dd {
  マージン左:  0 ;
}

/* コンテンツのグループ化 */
/* ========================================== */

/**
* 1. Firefox に正しいボックス サイズを追加します。
* 2. Edge と IE でオーバーフローを表示します。
*/

時間{
  box-sizing :コンテンツボックス; /* 1 */
  高さ:  0 ; /* 1 */
  オーバーフロー:見える; /* 2 */
  ボーダー上部の幅:  1ピクセル;
  マージン:  0 ;
  クリア:両方;
  色:継承;
}

/**
* 1. すべてのブラウザでフォント サイズの継承とスケーリングを修正します。
* 2. すべてのブラウザーで奇数の「em」フォント サイズを修正します。
*/

前{
  font-family : monospace 、 monospace; /* 1 */
  font-size :継承; /* 2 */
}

アドレス{
  font-style :継承;
}

/* テキストレベルのセマンティクス */
/* ========================================== */

/**
* IE 10 でアクティブなリンクの灰色の背景を削除します。
*/

{ _
  背景色:透明;
  テキスト装飾:なし;
  色:継承;
}

/**
* 1. Chrome 57-で下枠を削除
* 2. Chrome、Edge、IE、Opera、および Safari で正しいテキスト装飾を追加します。
*/

略語[タイトル] {
  text-decoration :点線の下線; /* 2 */
}

/**
* Chrome、Edge、および Safari で正しいフォントの太さを追加します。
*/

b 、
強い{
  font-weight :太字;
}

/**
* 1. すべてのブラウザでフォント サイズの継承とスケーリングを修正します。
* 2. すべてのブラウザーで奇数の「em」フォント サイズを修正します。
*/

コード、
kbd 、
サンプル{
  font-family : monospace 、 monospace; /* 1 */
  font-size :継承; /* 2 */
}

/**
* すべてのブラウザで正しいフォント サイズを追加します。
*/

小さな{
  フォントサイズ:  80 % ;
}

/**
* `sub` および `sup` 要素が行の高さに影響しないようにする
* すべてのブラウザ。
*/

サブ、
スープ{
  フォントサイズ:  75 % ;
  行の高さ:  0 ;
  位置:相対;
  垂直整列:ベースライン;
}

サブ{
  下:  -0.25 em ;
}

スープ{
  トップ:  -0.5 em ;
}

/* 置き換えられた内容 */
/* ========================================== */

/**
* 縦方向の配置の問題を防ぎます。
*/

svg 、
画像,
埋め込み、
オブジェクト、
iframe {
  垂直整列:下;
}

/* フォーム */
/* ========================================== */

/**
* フォーム フィールドをリセットして、スタイルを設定できるようにします。
* 1. 特に iOS のシステム間でフォーム要素をスタイル可能にします。
* 2. 親から text-transform を継承します。
*/

ボタン,
入力、
オプトグループ、
を選択し、
テキストエリア{
  -webkit-appearance :なし; /* 1 */
  外観：なし。
  垂直整列:中央;
  色:継承;
  フォント:継承;
  背景:透明;
  パディング:  0 ;
  マージン:  0 ;
  ボーダー半径:  0 ;
  text-align :継承;
  テキスト変換:継承; /* 2 */
}

/**
* クリック可能な要素のカーソルを修正します。
*/

ボタン,
[タイプ= "ボタン" ] ,
[タイプ= 「リセット」 ] 、
[タイプ= "送信" ] {
  カーソル:ポインタ;
}

ボタン:無効,
[タイプ= "ボタン" ] :無効、
[タイプ= "リセット" ] :無効、
[タイプ= "送信" ] :無効{
  カーソル:デフォルト;
}

/**
* Firefox のアウトラインを改善し、入力要素とボタンでスタイルを統一します。
*/

: -moz-focusring {
  アウトライン:自動;
}

選択：無効{
  不透明度:継承;
}

/**
*パディングを削除
*/

オプション{
  パディング:  0 ;
}

/**
* 非表示にリセット
*/

フィールドセット{
  マージン:  0 ;
  パディング:  0 ;
  最小幅:  0 ;
}

凡例{
  パディング:  0 ;
}

/**
* Chrome、Firefox、および Opera で正しい垂直方向の配置を追加します。
*/

進捗{
  垂直整列:ベースライン;
}

/**
* IE 10+ のデフォルトの垂直スクロールバーを削除します。
*/

テキストエリア{
  オーバーフロー:自動;
}

/**
* Chrome のインクリメント ボタンとデクリメント ボタンのカーソル スタイルを修正しました。
*/

[ type = "number" ]:: -webkit-inner-spin-button ,
[ type = "number" ]:: -webkit-outer-spin-button {
  高さ:自動;
}

/**
・Safariのアウトラインスタイルを修正。
*/

[タイプ= "検索" ] {
  輪郭オフセット:  -2ピクセル; /* 1 */
}

/**
* macOS の Chrome と Safari で内側のパディングを削除します。
*/

[タイプ= "検索" ]:: -webkit-検索-装飾{
  -webkit-appearance :なし;
}

/**
* 1. iOS および Safari でクリック可能なタイプをスタイルできない問題を修正しました。
* 2. フォントの継承を修正。
*/

:: -webkit-file-upload-button {
  -webkit-appearance :ボタン; /* 1 */
  フォント:継承; /* 2 */
}

/**
* Firefox の外観を修正
*/
[タイプ= "数" ] {
  -moz-appearance :テキストフィールド;
}

/**
* クリック可能なラベル
*/

ラベル[ for ] {
  カーソル:ポインタ;
}

/* 相互の作用 */
/* ========================================== */

/*
* Edge、IE 10+、および Firefox に正しい表示を追加します。
*/

詳細{
  表示:ブロック;
}

/*
* すべてのブラウザで正しい表示を追加します。
*/

要約{
  表示:リスト項目;
}

/*
* 編集可能なコンテンツのアウトラインを削除します。
*/

[ contenteditable ] :フォーカス{
  アウトライン:自動;
}

/* テーブル */
/* ========================================== */

/**
1. すべての Chrome および Safari で表の境界線の色の継承を修正します。
*/

テーブル{
  境界線の色:継承; /* 1 */
  ボーダー崩壊:崩壊;
}

キャプション{
  テキスト整列:左;
}

td 、
番目の{
  垂直整列:上;
  パディング:  0 ;
}

番目の{
  テキスト整列:左;
  font-weight :太字;
}
